<div class ="collapsible-menu">
    <a href="/"><img class="logo" src="/assets/images/evs_logo_horizontal-06.svg" alt="logo of website"></a>
    <input type="checkbox" id="menu">
    <label for="menu">
        <span class="toggler-icon vertical-bar"></span>
        <span class="toggler-icon horizontal-bar"></span>
    </label>
    <nav class="menu-content">
        {% for item in site.data.navigation %}
        <a href="{{item.link}}" class="nav-link" {% if page.url==item.link %}id="current" {% endif %}>
            {% if item.image %}
            <img src={{item.image}} alt="{{item.name}}">
            {% else %}
            {{item.name}}
            {% endif %}
        </a>
        {% endfor %}
    </nav>
    <a href="/info.html" class="info-element" {% if page.url=="/info.html" %}id="current" {% endif %}>info</a>
</div>
 
<!-- {{ item.link }} -->
