.intro-info {
    // position: relative;
    height: 92vh;
    display: flex;
    margin: -80px 0 40vh 0;
}

#contact_details {
    display: none;
    flex-grow: 1;
}

#contact_details.visible {
    display: block;
}

.photo-container {
    position: relative;
}

.photo-container,
.my-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0 10px 0;
    width: 30vw;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
}

.intro-info > h1 {
    position: absolute;
    bottom: 0;
    // left: 0;
    // text-align: left;
    // align-self: flex-end;
}

.logo-contact {
    // margin: 0 5px 0 0;
    height: 20px;
    text-decoration: none !important;
}

.index {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.link-reverse {
    text-decoration: none !important;
    font-weight: 600;
    color: var(--black);
}

.link-reverse:hover {
    text-decoration: none;
    color: var(--hight-light-color) !important;
}

.links {
    text-decoration: none !important;
    font-weight: 600;
    color: var(--hight-light-color);
}

.links:hover {
    text-decoration: none;
    color: var(--black);
}

.info-grid {
    display: grid;
    grid-template-columns: auto 60vw;
    grid-template-rows: 2;
    margin: 30px 0 100px 0;
    // margin-left: 25vw;
    column-gap: 400px;
}

.info-grid > div {
    // border: 1px dashed rgba(183, 0, 162, 0.744);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    padding: 0 10px 0 10px;
}

.card-body,
.info-grid > div > p,
.info-grid > div > a,
.info-grid > div > p > button > p {
    font-size: 10pt;
    text-align: left;
    margin: 0;
}

.info-grid > .title-cell-1 p {
    font-size: 13pt;
}

.info-grid > div:hover >p {
    color: var(--hight-light-color);
}

.contact-details > a,
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.d-inline-flex {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
    border-radius: 0;
    border: none;
    text-align: left;
    padding: 10px 0 10px 0;
    margin: 0 0 0 0;
    color: var(--black) !important;
    width:inherit !important;
    width: 100%;
}

.btn:hover p {
    color: var(--hight-light-color);
}

// .info-grid > div > p :hover  {
// color: var(--hight-light-color);
// }

.card-body {
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.title-cell-1 {
    grid-column: 1;
    grid-row: 1 / 6;
}

// Contact
#contact-details {
    display: none; /* Hidden by default */
    position: absolute;
}

#contact-details.visible {
    display: block; /* Show when visible class is added */
}

#contact-details * {
    margin-bottom: 0;
}

@media (max-width: 1800px) and (max-height: 800px) {
    .index {
        max-width: 400px ;
    }
}

@media (max-width: 1200px) {
    .my-photo {
        width: 30vw;
    }
    .info-grid  {
        column-gap: 0px;
    }
    .index {
        max-width: 300px ;
    }
    #contact-details  {
        max-width: 180px;
    }
}

@media (max-width: 700px) {
    .info-grid  {
        grid-template-columns: auto;
    }
    .my-photo {
        width: 42vw;
    }
    .index {
        max-width: 150px ;
    }
}

@media (max-height: 400px) {
    .intro-info {
        margin-bottom: 60vh;
    }
}

@media (max-width: 600px) {
    #contact-details  {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;
    }
    
    .my-photo.hidden {
        visibility: hidden;
    }
}

@media (max-height: 650px) {
    #contact-details  {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;
    }
    
    .my-photo.hidden {
        visibility: hidden;
    }
}
