.intro-info {
    height: 92vh;
    display: flex;
    margin: 0 0 10vh 0;
}

.my-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0 20px 0;
    width: 30vw;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
}

.intro-info > h1 {
    position: absolute;
    bottom: 0;
    // left: 0;
    // text-align: left;
    // align-self: flex-end;
}

.index {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.index > .about {
    color: var(--black);
}

.index > .about:hover {
    color: var(--hight-light-color);
}

.links {
    text-decoration: none;
    // color: var(--black);
    font-weight: 600;
    color: var(--hight-light-color);
}

.links:hover {
    text-decoration: none;
    color: var(--black);
}

.info-grid {
    display: grid;
    grid-template-columns: auto 60vw;
    grid-template-rows: 2;
    margin: 30px 0 100px 0;
    // margin-left: 25vw;
    column-gap: 400px;
}

.info-grid > div {
    // border: 1px dashed rgba(183, 0, 162, 0.744);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    padding: 0 10px 0 10px;
}

.card-body,
.info-grid > div > p,
.info-grid > div > p > button > p {
    font-size: 10pt;
    text-align: left;
    margin: 0;
}

.info-grid > div:hover >p {
    color: var(--hight-light-color);
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.d-inline-flex {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
    border-radius: 0;
    border: none;
    text-align: left;
    padding: 10px 0 10px 0;
    margin: 0 0 0 0;
    color: var(--black) !important;
    width:inherit !important;
    width: 100%;
}

.btn:hover p {
    color: var(--hight-light-color);
}

// .info-grid > div > p :hover  {
// color: var(--hight-light-color);
// }

.card-body {
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.title-cell-1 {
    grid-column: 1;
    grid-row: 1 / 6;
}


@media (max-width: 1200px) {
    .my-photo {
        width: 30vw;
    }
    .info-grid  {
        column-gap: 0px;
    }
    .index {
        max-width: 300px ;
    }
}

@media (max-width: 700px) {
    .info-grid  {
        grid-template-columns: auto;
    }
    .my-photo {
        width: 40vw;
    }
    .index {
        max-width: 150px ;
    }
}
