/* * {
    border: 1px solid rgb(57, 213, 228);
 } */

 :root {
    --black: #000000;
    --hight-light-color: rgba(255, 255, 255, 0.7);
    --color: rgb(0, 255, 170);
    --border-width: 1px;
    --background-color:  #FF5733;
 }

 ::selection {
    color: var(--black);
    background: var(--color);
 }
 
body {
    background-color: var(--background-color);
    margin: 10px;
}

 .body-content {
    margin: 60px 0 0 0;
}

// img {
//     max-width: 100%;
//     display: block;
//   }

//   img.logo {
//     height: 200px !important;
// }
