/* * {
    border: 1px solid rgb(57, 213, 228);
 } */

:root {
   --black: #000000;
   --hight-light-color: hsla(47, 64%, 70%, 0.7);
   --color: rgb(0, 255, 170);
   --border-width: 1px;
   // --background-color: #FF5733;
   --background-color: #FCF6F5FF;
}

::selection {
   color: var(--black);
   background: var(--hight-light-color);
}

body {
   background-color: var(--background-color);
   margin: 10px;
}

.body-content {
   padding: 70px 0 0 0;
}

