// :root {
//   --top-margin: 10px;
//   --menu-margin: 20px;
//   --menu-height: 15px;
// }

nav {
  position: fixed;
}

#current {
  color: var(--hight-light-color) !important;
}

.collapsible-menu label {
  display: block;
  cursor: pointer;
}

input#menu {
  display: none;
  max-height: var(--menu-height);
}

.menu-content {
  max-height: 0;
  overflow-y: hidden;
  // background: var(--background-color);
}

input:checked~.menu-content {
  max-height: 900px;
  transition: max-height 3s linear;
}


input:not(:checked)~.menu-content {
  max-height: 0;
  transition: max-height 2s linear;
}

.collapsible-menu {
  position: fixed;
  top: var(--top-margin);
  left: var(--top-margin);
  width: var(--menu-height);
  // border-bottom: 3px solid #2c10dc;
}

label {
  margin-top: var(--menu-margin);
  height: var(--menu-height);
}

.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}

.info-element {
  position: fixed;
  top: var(--top-margin);
  right: var(--top-margin);
}

.collapsible-menu a:focus,
.collapsible-menu a {
  color: var(--black);
  display: block;
  text-decoration: none;
  font-size: 25px;
}

.collapsible-menu a:hover {
  color: var(--hight-light-color);
  // text-decoration: none;
  font-size: 25px;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 1.5px;
  width: 100%;
  background-color: var(--black);
  border-radius: 0;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.vertical-bar {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

input:checked~label .vertical-bar {
  transform: rotate(180deg);
}

input:not(:checked)~label .vertical-bar {
  transform: rotate(90deg);
}

.logo {
  height: 20px;
}