---
layout: default
---

{% if page.collection == "posts" %}
<div class="title-container">
    <h1 class="text-title">
        {{ page.title | downcase }}
    </h1>
    {% assign fieldValues = page.field | split: ", " %}
    {% for field in fieldValues %}
    <h7 class="text-field">
        {{ field }}
    </h7> <br>
    {% endfor %}
    <p>
        {{ page.date | date_to_string | date: "%Y"}}
    </p>
</div>
{% endif %}

    <!-- <p style="color:beige; font-size: 50px;">This is the grid html</p> -->

<div class="grid"></div>



{{ content }}

<script src="/assets/js/grid.js"></script>